

.testimonial-banner{
    background: linear-gradient(#000, rgba(0, 0, 0, 0.322)), url("https://images.ctfassets.net/ma6hw2fxp8jo/6CDIUVR4fsPxjMYfsWYMGZ/6458bc9644451b64c1f43a948ae42fac/hybrid_feature.png?w=2880&h=1620&q=90&fm=webp") center fixed;
    background-size: cover;
}

.masthead-bg{
  background: linear-gradient(#fff, #fff, rgba(252, 252, 252, 0.795)), url("https://ik.imagekit.io/gclk8b7ii/Screen_Shot_2022-06-20_at_1.00.30_PM_3M9jGCoYJ.png?ik-sdk-version=javascript-1.4.3&updatedAt=1655701280546") center;
  background-size: cover;
}